body
{
  background: darken(white, 1%);
  font-family: sans-serif;
  margin: 0;
  color: lighten(black, 1%);
}

a
{
  $color: #f9ba30;
  color: $color;
  text-decoration: none;

  &:hover
  {
    color: lighten($color, 2%);
    text-decoration: underline;
  }

  &:visited
  {
    color: darken($color, 5%);
  }
}

header
{
  padding: 30px;
  background: white;
  box-shadow: 0 1px 0 darken(white, 4%);

  .content
  {
    position: relative;
    max-width: 500px;
    margin: 0 auto;

    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
  }

  .logo
  {
    margin-right: 20px;
  }

  .text
  {
    @include flex(1);
  }
}

article
{
  position: relative;
  max-width: 500px;
  margin: 20px auto;

  section
  {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #cecece;

    &:first-child
    {
      padding-top: 0;
      border-top: 0;
    }

    > h2
    {
      margin-top: 0;
    }
  }

  code
  {
    padding: 1px 3px;
    background: rgba(black, 0.1);
  }
}
